body {
    font-family: sans-serif;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

.header {
    overflow: hidden;
}

.header a {
    float: right;
    text-align: center;
    padding: 14px 15px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.header a:hover {
    color: darkgrey;
    text-decoration: underline;
}

.search {
    margin-left: 30%;
    margin-top: 100px;
}

#bar {
    width: 500px;
}

#logo {
    padding-left: 120px;
}

input[type=text]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 25px;
    border-width: 1px;
    border-color: lightgray;
    border-style: double;
    outline: none;
}
#buttons {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.logo-subtext {
    color: #4285f5;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 345px;
    white-space: nowrap;
    position: relative;
    top: -20px;
}

.app-bar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.row > div {
    padding: 5px;
    vertical-align: middle;
}

#query {
    font-size: 13px;
}

#detail {
    font-size: 11px;
}

#example {
    font-family: monospace;
    font-size: 11px;
}

.adv {
    width: 100%;
    border-radius: 0 !important;
    vertical-align: 0px !important;
    margin: 0px !important;
    height: 30px !important;
}

.adv-button {
    user-select: none;
    line-height: 100%;
    float: right;
    height: 30px;
    min-width: 120px;
    margin: 10px 0;
    padding: 0 12px;
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    
}